@model Core_WebApp.Models.DeptEmpLists
@{
    ViewData["Title"] = "Index";
}

<h1>List of Departments and Employees</h1>

<h2>List of Departments</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                DeptNo
            </th>
            <th>
                DeptName
            </th>
            <th>
                Location
            </th>
            <th>
                Capacity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Departments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeptNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                 
                @Html.ActionLink("Show Employees", "ShowEmps", new {  id=item.DeptNo  }) |
            </td>
        </tr>
}
    </tbody>
</table>
<h2>List of Employees</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                EmpNo
            </th>
            <th>
                EmpName
            </th>
            <th>
                Salary
            </th>
            <th>
               Designation
            </th>
            <th>
               DeptNo
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employees) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
               
            </td>
        </tr>
}
    </tbody>
</table>