@page
@model Core_RazorViews.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].BasePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Category) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BasePrice)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CategoryRowId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CategoryRowId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CategoryRowId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
